<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
<body>
  <div class="container">

    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">BLOG</a></li>
      </ul>
    </nav>

    {{ content }}

    <footer>
      <ul>
        <li><a href="mailto:jhagemann52@gmail.com">email</a></li>
        <li><a href="https://github.com/hagemannj">github</a></li>
        <li><a href="https://signal.me/#eu/B3fmAHbqkstKPlLydZnwlNmDrA0qK1wcWU2Wfipo3UYIJv6IH1xIxpya04LEv3q2">signal</a></li>
        <li><a href="https://twitter.com/Ink525">twitter</a></li>
      </ul>
    </footer>

  </div>
</body>

</html>
